{% extends 'book/base_template.html' %}
{% block content %}
{%if list_books%}
<div
    style="display: grid; grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); justify-content: space-between; ">
    {% for book in list_books %}
    <div class="card" style="width: 18rem; margin: 15px;">
        <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2" style="margin-top:15px;">{%for category in book.categories.all%}<span
                    style="background-color: #999 ; color: white ; border-radius: 4px; padding: 5px; font-size: 13px; margin-right: 2px;">{{category}}
                </span>{%endfor%}</h6>
            <p class="card-text"><a href="#" style="text-decoration: none; ">See Preview</a></p>
            <a href="{% url 'detail_book' book.id %}" class="btn btn-primary">Read</a>
            {%if user.profile == book.owner%}
            <a href="{%url 'update_book' book.id%}" class="btn btn-primary">Update</a>
            <a href="{%url 'delete_book' book.id%}" class="btn btn-primary">Delete</a>
            {%endif%}
        </div>
    </div>

    {% endfor %}
</div>
{%else%}
<p>No result</p>
{%endif%}
{% endblock %}